

.container .btn {
    position: absolute;
    top: 70%;
    left: 50%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    padding: 25px 50px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: gray;
    font-family: "cookie";

}



.container {
    width: 700%;
    height: 200px;
    display: block;
    position: cover;
    overflow: hidden;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.btn:hover{
	background-color: black;
	transition: 1s;
	padding: 50px 100px;
}

